.products-container {
  padding: 5rem 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

.loading-container{
  text-align: center;
  margin-top: 15px;
}

.loading-button{
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: #333;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}